<div class="page-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-right">
          <mat-form-field>
            <input matInput name="search" class="form-control " placeholder="Search"   (keyup.enter)="onchangeFilter($event)">
          </mat-form-field>
          <button class="btn btn-add m-t--5 m-l-5" (click)="onchangeFilter($event)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table datatable [dtOptions]="dtOptions" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>IP address</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody *ngIf="formated_data && formated_data.length > 0">
          <tr *ngFor="let data of formated_data; let ind = index;">
            <td>{{data.id}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.ip_address}}</td>
            <td>{{data.timestamp* 1000 | date:'medium'}}</td>  
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>